@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Nothing+You+Could+Do&family=Nunito:wght@800&family=Sometype+Mono&family=Tangerine&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Macondo&family=Nothing+You+Could+Do&family=Nunito:wght@800&family=Sometype+Mono&family=Tangerine&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sometype Mono', monospace;
}
    :root
{
    --clr: #301c26;
}
body {
    font-family: 'Macondo', cursive;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(24, 15, 17) 35%, rgb(37, 10, 35)100%);
}

.story-container-parent {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling for the parent container */
    white-space: nowrap; /* Prevent line breaks inside containers */
}

.story-container {
    min-width: 100%;
    padding: 20px;
    margin: 5px;
    background-color: #FFD3E0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 3px solid #FF6B96;
    transition: margin 0.5s;
    max-height: 200px; /* Set a maximum height for the container */
    overflow: auto; /* Enable vertical scrolling for overflow text */

}



.story {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    color: #FF4382;
    opacity: 1;
    transition: opacity 0.5s;
    text-align: center;
}
.story-storyText {
    font-size: larger;
}
.fixed-text-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    /* You can adjust the width and height as needed */
    width: 800px;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon {
    font-size: 30px;
        font-size: 30px;
        position: fixed;
        top: 0;
        left: 0;
        color: #fff;

}
.navigation ul li a .icon {
    position: relative;
    display: block;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #fff;
    transform: translateX(3px); /* Shift right by 3 pixels */
}
